img {
    width: 600px;
}
.fontone {
    font-family: "Oswald", times, serif;
}
.fonttwo{
 font-family: 'Montserrat', sans-serif;   
}
.fontthree {
    font-family: Open Sans;
}
.fontfour {
    font-family: Raleway;
}